body {
  background: #000;
  color: #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 1em;
}

a {
  text-decoration: none;
  color: #ccc;
}

a:hover {
  text-decoration: none;
}

div.line {
    display: block;
    overflow: hidden;
}

div.status {
  display: block;
  width: 100%;
  height: auto;
}

/*****************************/

span.lc {
    float: left;
    width: 4em;
}
span.rc {
    width: auto;
}

/*****************************/

pre.code {
  display: inline-block;
  background-color: #181818;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 60%;
  padding: 2px;
  margin: 0px;
}

/*****************************/

span.path {
  font-weight: bolder;
  color: #ddd;
}

/*****************************/

span.responsive {
  color: #2f2 !important;
}

span.unresponsive {
  color: #de2 !important;
}

span.very_unresponsive {
  color: #f42 !important;
}

/*****************************/

span.version {
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

span.current_version {
  color: #2F2 !important;
}

span.not_current_version {
  color: #FF2 !important;
}

/*****************************/

span.key_val {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

span.k {
  opacity: 0.75;
}

/*****************************/

span.flash {
  background: #888 !important;
  transition: background 500ms ease-in;
}

.error {
    margin: 2em;
    border: 1px;
    border-color: #811;
    background: #222;
    color: #c44;
}

/*****************************/

a.zoom_on_hover {
  text-decoration: none;
}

a.zoom_on_hover:hover span {
  cursor: default;
  font-size: 24px !important;
}

/*****************************/

a.display_on_hover {
  text-decoration: none;
}

a.display_on_hover:hover span {
  cursor: default;
  display: initial;
}

span.display_on_hover {
  display: none;
}

/*****************************/

.h-margin {
  right-margin: 10px;
  left-margin: 10px;
}
.dim {
  opacity: 0.4;
}
.smaller {
  font-size: 80%;
}
.left {
  text-align: left;
  float: left;
}
.right {
  text-align: right;
  float: right;
}
.center {
  text-align: center;
}

/*****************************/
